<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Hello flask</h1>
        <ul>
            {% for x in range(0, 101) %}
                {% for y in range(0, 101) %}
                        {% if x == y %}
                            <li style="color: red">
                                {{ x }} * {{ y }}  =  {{ x * y }}
                            </li>
                        {% else %}
                            <li style="color: blue">
                                {{ x }} * {{ y }}  =  {{ x * y }}
                            </li>
                        {% endif %}


                {% endfor %}
            {% endfor %}
        </ul>
    </body>
</html>
